fastapi
uvicorn[standard]
pydantic
python-dotenv
streamlit
requests

langchain
langchain-community
langchain-core
langchain-huggingface
langchain-google-genai
langgraph

faiss-cpu
sentence-transformers
pypdf

rouge-score
ragas
datasets
